/* TODO: Fix border-left-style to make dashed */

.bg-past {
  background-color: lightgray;
}

.bg-current {
  background-color: salmon;
}

.bg-future {
  background-color: lightgreen;
}

div.rounded-end:hover span {
  color: black;
}
div.rounded-end:hover {
  cursor: pointer;
}

.hour {
  border-style: dashed !important;
  border-left-style: none !important;
  border-right-style: solid !important;
}

.timeblock {
  padding: 0;
}

textarea.form-control {
  margin: 0;
  border: none;
  background-color: inherit;
  resize: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: gray;
  }

  .bg-past {
    background-color: rgb(48, 48, 48);
  }

  .bg-current {
    background-color: darkred;
  }

  .bg-future {
    background-color: darkgreen;
  }

  textarea:focus {
    background-color: gray !important;
  }

  .save-btn {
    background-color: darkblue !important;
    color: gray !important;
  }

  .border {
    border-color: gray !important;
  }
}

@media screen and (max-width: 576px) {
  div.row {
    margin-top: 1rem !important;
  }

  .hour {
    text-align: center !important;
    border: none !important;
  }

  span {
    padding: 0.5rem;
  }

  .container {
    margin: 0 auto;
  }

  .today {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    background-color: inherit;
  }
}
