/* TODO: Fix border-left-style to make dashed */

.bg-past {
  background-color: lightgray;
}

.bg-current {
  background-color: salmon;
}

.bg-future {
  background-color: lightgreen;
}

div.rounded-end:hover span {
  color: black;
}
div.rounded-end:hover {
  cursor: pointer;
}

.hour {
  border-style: dashed !important;
  border-left-style: none !important;
  border-right-style: solid !important;
}

.timeblock {
  padding: 0;
}

textarea.form-control {
  margin: 0;
  border: none;
  background-color: inherit;
  resize: none;
}
